
<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <p>
                Hola {{ name }},
            </p>
            <p>
                {{ message }}
            </p>
            <p>
                {{ notes }}
            </p>
        </div>

        <div style="padding-top: 20px;">
            <p>
                Este mensaje es solo informativo, favor de no responder el mismo.<br>
                Para mayor información comunícate con nuestra Atención Telefónica al (809) 724-0266; Ext. 486<br>
                o por correo electrónico para tus sugerencias y comentarios a popin@uapa.edu.do<br>
                Este correo electrónico está dirigido exclusivamente al receptor original.<br>
            </p>
        </div>

        <div>
            <img src="{{ popin_url }}" alt="">
        </div>
    </body>
</html>








