
{% load static %}
{% load filters %}

<div class="portlet-header">
    <div class="row">
         <div class="col-10">
             <a href="#{{ modal_edit }}_info" class="ml-2" style="color: #041147;" data-toggle="modal">
                 <img class="icons-coloured-header" src="{% static 'images/icons/informacion.png' %}" alt="Información de la actividad" title="Información de la actividad">
                 {% if not poa or poa.poa_include_subs %}
                    <span style="font-size: 10px">{{ cronograma.cronograma_actividad.actividad_meta.meta_operativo.operativo_poa.poa_estamento }}</span>
                 {% endif %}
             </a>
         </div>
         <div class="col-2">
             {% if poa and poa.poa_user_owner and not poa.poa_include_subs and poa.poa_estado_id == 4 %}
                 {% if cronograma.cronograma_cumplimiento_date %}
                     <i class="fas fa-flag" title="Estuvo marcada como realizada"></i>
                 {% endif %}

                 <a class="pt-1 pr-2 float-right" style="font-size: 14px; margin-top: -2px; color: #041147;" onclick="javascript:CronogramaUpdate('{{ cronograma.id }}')">
                     <i class="fas fa-arrow-right fa-lg" title="Marcar como realizada"></i>
                 </a>
             {% endif %}
         </div>
    </div>
</div>

<div class="portlet-content">
    <div>
        <span>{{ actividad.actividad_meta.meta_operativo.operativo_order }}.{{ actividad.actividad_meta.meta_order }}.{{ actividad.actividad_order }}. {{ actividad.actividad_description }}</span>
    </div>
</div>
