
{% load static %}

<!-- Font CSS -->
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/font-awesome-pro.min.css' %}">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.css' %}">

<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

