{% load static %}
<!-- JS
============================================ -->

<!-- Google OAuth -->
<script src="https://accounts.google.com/gsi/client" async></script>

<!-- Vendors JS (Dependencias externas) -->
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
<script src="{% static 'js/vendor/tableau.embedding.3.latest.min.js' %}" type="module"></script>

<!-- Plugins (Bibliotecas y plugins adicionales) -->
<script src="{% static 'js/plugins/plugins.min.js' %}"></script>

<!-- Proyecto específico (Archivos propios del proyecto) -->
<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!-- Main Activation JS (Inicialización y activación de funcionalidades principales) -->
<script src="{% static 'js/main.js' %}"></script>
<script type="module" src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"></script>

