{% extends 'layouts/base.html' %}

{% block title %}Responsables{% endblock %}

{% load crispy_forms_tags %}
{% load filters %}

{% block content %}
    <div class="container-xl">
        <div class="table-responsive pt-5">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Listado de Responsables</h4>
                        </div>
                        <div class="col-sm-4">
                            {% with url_list="responsables_list" %}
                                {% with buscar="Buscar responsables..." %}
                                    {% include 'layouts/search.html' %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="col-sm-4">
                            <a href="#modal_new" class="btn btn-accept" data-toggle="modal"><i class="fas fa-plus-circle"></i> <span>Agregar Responsable</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    #
                                </span>
                            </th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for responsable in responsables_list %}
                            {% with modal_edit='modal_edit_'|concat:responsable.id %}
                                {% with modal_delete='modal_delete_'|concat:responsable.id %}
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                                                {{ forloop.counter }}
                                            </span>
                                        </td>
                                        <td style="width:85%;">{{ responsable.responsable_description }}</td>
                                        <td>
                                            <a href="#{{ modal_edit }}" class="edit" data-toggle="modal"><i class="fas fa-pen"></i></a>
                                            <a href="#{{ modal_delete }}" class="delete" data-toggle="modal"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>

                                    <!-- Edit Modal HTML -->
                                    <div id="{{ modal_edit }}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="POST" action="" class="mt-2" autocomplete="off">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}

                                                    <input name="action" id="action" type="text" class="form-control" value="edit" hidden>
                                                    <input name="id" id="id" type="text" class="form-control" value="{{ responsable.id }}" hidden>

                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Editar Responsable</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Descripción</label>
                                                            <textarea name="responsable_description" id="responsable_description" class="form-control" required>{{ responsable.responsable_description }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Cancelar">
                                                        <input type="submit" class="btn btn-accept" value="Guardar">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Edit Modal HTML -->

                                    <!-- Delete Modal HTML -->
                                    <div id="{{ modal_delete }}" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="POST" action="" class="mt-2" autocomplete="off">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}

                                                    <input name="action" id="action" type="text" class="form-control" value="delete" hidden>
                                                    <input name="id" id="id" type="text" class="form-control" value="{{ responsable.id }}" hidden>

                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Eliminar Responsable</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>¿Desea realmente eliminar la responsable?</p>
                                                        {% if responsable.responsable_description|length > 40 %}
                                                            <p>"{{ responsable.responsable_description|slice:"0:40"|concat:'...' }}"</p>
                                                        {% else %}
                                                            <p>"{{ responsable.responsable_description }}"</p>
                                                        {% endif %}
                                                        <p class="text-warning"><small>Puede cancelar esta acción.</small></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Cancelar">
                                                        <input type="submit" class="btn btn-danger" value="Eliminar">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Delete Modal HTML -->
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- New Modal HTML -->
    <div id="modal_new" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="" class="mt-2" autocomplete="off">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <input name="action" id="action" type="text" class="form-control" value="new" hidden>

                    <div class="modal-header">
                        <h4 class="modal-title">Agregar Responsable</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea name="responsable_description" id="responsable_description" class="form-control" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-accept" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- EndNew Modal HTML -->

{% endblock %}
