
{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Sobre el POA{% endblock %}

{% block content %}
    <div class="container-xl">
        <div class="table-responsive pt-4">
            <div class="table-wrapper-small">
                  <div class="text-center">
                    <h4 class="title">Acerca del Plan Operativo (POA)</h4>
                  </div>
                  <p class="mt-4 text-justify">
                      <p>La planificación constituye uno de los aspectos más relevantes en la gerencia institucional. Mediante este proceso, se presentan lineamientos necesarios para la dirección, orientación y formulación de una visión deseada. Asimismo, se alienta a encaminar acciones conjuntas aprovechando las capacidades del talento humano quien canaliza, de acuerdo a sus tareas y funciones establecidas, un plan operativo anual (POA).</p>
                      <p>El plan operativo anual se puede asumir como una herramienta de gestión mediante la cual las instituciones definen sus objetivos, metas, indicadores de logro, recursos y responsables para alcanzar sus propósitos en un período determinado. La gestión eficiente de estos planes garantiza optimizar recursos y desarrollarse progresivamente a través de un ciclo estratégico vigente, cumpliendo con los objetivos y metas definidos.</p>
                      <p>La gestión de planes operativos se enmarca en la primera etapa del proceso de gestión en las organizaciones (planear), tal como se muestra a continuación:</p>
                      <img class="pl-90 text-center" src="{% static 'images/poa/plan.png' %}" alt="Learts Logo">

                      <p class="pt-5">Estos planes operativos deben estar alineados con la visión estratégica institucional plasmada en el Plan Estratégico de Desarrollo (PED) actual. Ver siguiente ilustración:</p>

                      <p class="pt-lg-5"><b>Esquema de la articulación entre el plan estratégico de desarrollo y el plan operativo</b></p>
                      <p class="pl-90 text-center"><img src="{% static 'images/poa/esquema.png' %}" alt="Learts Logo"></p>

                      <p>La Universidad Abierta para Adultos, alinea sus planes operativos con los ejes, objetivos estratégicos, líneas de actuación y acciones estratégicas del PED, de tal modo que estos planes se orienten a satisfacer las aspiraciones de la UAPA. Además de esta alineación, desde la Junta de Directores de la Universidad, cada año se definen líneas estratégicas que orientan los esfuerzos de la UAPA hacia nuevas tendencias y necesidades, para asegurar que se transite la ruta necesaria hacia el logro de sus propósitos estratégicos.</p>

                      <p>Elementos de la estructura del Plan Operativo:</p>

                      <ul>
                          <li><b>Objetivo:</b> Es un resumen general de la condición deseada que se trata de alcanzar a través del trabajo. Se formulan a partir de las <b>acciones estratégicas del PED</b>.</li>
                          <li><b>Metas:</b> Son enunciados específicos, medibles, alcanzables, relevantes y con tiempo que detallan los resultados deseados. Las metas se pueden definir en relación con una escala estándar (número, porcentajes, fracciones, intervalos, o una situación de todo o nada).</li>
                          <ul>
                              <li style="list-style-type: none;"><b>Criterios para las metas</b></li>
                              <ul>
                                  <li>Especificas (Specific)</li>
                                  <li>Medibles (Medible)</li>
                                  <li>Alcanzables (Attainable)</li>
                                  <li>Realistas (Realistic)</li>
                                  <li>De tiempo limitado</li>
                                  <li>Ecológicas (Ecological)</li>
                              </ul>
                          </ul>
                          <li><b>Actividades:</b> Consiste en las tareas que se deben desarrollar para el logro de las metas. Cada meta se desglosa en diferentes actividades.</li>
                          <li><b>Peso:</b> Representa el valor porcentual de cada actividad. Este valor es directamente proporcional a la importancia de la actividad para el logro de una meta. La suma del peso de todas las actividades dentro de una meta debe ser igual a 100%.</li>
                          <li><b>Indicador verificable:</b> Son las evidencias que permiten medir el cumplimiento de una actividad.</li>
                          <li><b>Responsable:</b> Son las áreas que tienen a cargo la ejecución de las actividades, dentro de un plan operativo.</li>
                          <li><b>Presupuesto:</b> Es la partida en dinero asociada a cada actividad. Tomar en cuenta que no todas las actividades requieren de presupuesto para su ejecución.</li>
                          <li><b>Cronograma:</b> Hace referencia al mes o meses en que se debe completar cada actividad.</li>
                      </ul>

                      <p>En un sentido amplio, la gestión de planes operativos de manera sistemática permite consolidar la cultura de planeación, de autorregulación y el logro de objetivos.</p>
                  </p>
            </div>
        </div>
    </div>
{% endblock %}