{% extends "layouts/base.html" %}

{% block title %}Tablero{% endblock %}

{% load filters %}

{% block content %}
    <div class="container-100">
        <div class="table-responsive pt-4">
            <div class="table-wrapper-small">
                <div class="text-right pt-2">
                     <a href="{% url 'poa_tablero' estamento_id=estamento_id poa_anno=poa_anno %}">
                         <i class="fas fa-arrow-left pr-2 fa-lg" title="Regresar a los tableros"></i>
                     </a>
                </div>

                <div class="text-center">
                    <h4 class="title">{{ tablero.tableau_title }}</h4>
                </div>
                <div class="text-center">
                    {{ tablero.tableau_description }}
                </div>

                <div class="text-center w-100">
                    <tableau-viz id="tableauViz"
                      src='{{ tablero.tableau_url }}'
                      toolbar="bottom"
                      hide-tabs
                    ></tableau-viz>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
