{% extends "layouts/base.html" %}

{% block title %}POA{% endblock %}

{% load filters %}

{% block content %}
    <div class="container-100">
        <div class="table-responsive pt-4">
            <div class="table-wrapper-small">
                <div class="text-center">
                    <h4 class="title">POA</h4>
                </div>

                {% include 'layouts/poa_estamentos_section.html' %}
                {% include 'layouts/poa_menu_row.html' %}
                {% include 'layouts/poa_edit_section.html' %}
                {% include 'layouts/poa_edit_modal.html' %}
            </div>
        </div>
    </div>
{% endblock %}
