{% extends "layouts/base.html" %}

{% block title %}Progreso{% endblock %}

{% load filters %}

{% block content %}
    <div class="container-xl">
        <div class="table-responsive pt-4">
            <div class="table-wrapper-small">
                  <div class="text-center">
                      <h4 class="title">Progreso</h4>
                  </div>

                  {% include 'layouts/poa_estamentos_section.html' %}
                  {% include 'layouts/poa_menu_row.html' %}

                  <div class="pt-5"><strong>PLAN OPERATIVO {{ poa_anno }} </strong></div>
                  {% if objetivo_operativos_list|length > 0 %}
                      <ul id="accordion" class="accordion">
                          {% for item in objetivo_operativos_list %}
                              <div class="pb-2"><strong>ESTAMENTO: </strong> {{ item.estamento_name }}</div>
                              <div class="pb-2"><strong>CUMPLIMIENTO: </strong> {{ item.poa_porciento }} </div>
                              <div class="pb-2"><strong>CUMPLIMIENTO PARCIAL: </strong> {{ item.poa_porciento_parcial }} </div>
                              {% for objetivo_item in item.objetivos_list %}
                                  {% with objetivo_operativo=objetivo_item|item:'objetivo_operativo' %}
                                      {% with objetivo_index=objetivo_item|item:'objetivo_index' %}
                                          <div class="pb-5">
                                              <div class="ml-3">
                                                  <p><b>{{ objetivo_index }} {{ objetivo_operativo.operativo_description }}</b></p>
                                              </div>
                                              <div>
                                                {% with metas_list=objetivo_item|item:'metas_list' %}
                                                      {% for meta_item in metas_list %}
                                                          {% with meta=meta_item|item:'meta' %}
                                                              <li>
                                                                    {% with actividades=meta_item|item:'actividades_list' %}
                                                                        {% if actividades|length > 0 %}
                                                                            <div class="link">
                                                                                <div class="progress" style="width: 95%;">
                                                                                    {% with porciento_meta=meta_item|item:'porciento_meta' %}
                                                                                        <div class="progress-bar" role="progressbar" style="width: {{ porciento_meta|format_int }}%;" aria-valuenow="{{ porciento_meta|format_int }}" aria-valuemin="0" aria-valuemax="100">{{ porciento_meta }}%</div>
                                                                                    {% endwith %}
                                                                                </div>
                                                                                <div class="pt-2" style="width: 95%;">
                                                                                    {% with meta_index=meta_item|item:'meta_index' %}
                                                                                        <p>{{ meta_index }} {{ meta.meta_description }}</p>
                                                                                    {% endwith %}
                                                                                </div>
                                                                                <div>
                                                                                    <i class="fa fa-chevron-down"></i>
                                                                                </div>
                                                                            </div>
                                                                            <ul class="submenu">
                                                                                {% for actividad_item in actividades %}
                                                                                    {% with actividad=actividad_item|item:'actividad' %}
                                                                                        <div class="border-cronograma">
                                                                                            <div class="row pl-3 pt-2">
                                                                                                <div class="col-8">
                                                                                                    <div>
                                                                                                        {% with actividad_index=actividad_item|item:'actividad_index' %}
                                                                                                            <p>{{ actividad_index }} {{ actividad.actividad_description }}</p>
                                                                                                        {% endwith %}
                                                                                                        {% if actividad.actividad_presupuesto > 0 %}
                                                                                                            {% with presupuesto_gastado=actividad_item|item:'presupuesto_gastado' %}
                                                                                                                <p>Presupuesto (<b>{{ actividad.actividad_presupuesto|format_pesos }}</b>)&nbsp;&nbsp;&nbsp;&nbsp;Usado (<b><span class="{% if presupuesto_gastado > actividad.actividad_presupuesto %}text-danger{% endif %}">{{ presupuesto_gastado|format_pesos }}</span></b>)</p>
                                                                                                            {% endwith %}
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-4" style="margin-left: -15px">
                                                                                                    <div class="row">
                                                                                                        {% with porciento_actividad=actividad_item|item:'porciento_actividad' %}
                                                                                                            <div class="col-1" style="padding-right: 40px">
                                                                                                                <p>{{ porciento_actividad }}%</p>
                                                                                                            </div>
                                                                                                            <div class="col-4">
                                                                                                                <div class="progress">
                                                                                                                  <div class="progress-bar" role="progressbar" style="width: {{ porciento_actividad|format_int }}%;" aria-valuenow="{{ porciento_actividad|format_int }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="col-5">
                                                                                                                <p>{{ actividad.actividad_responsable.responsable_description }}</p>
                                                                                                            </div>
                                                                                                        {% endwith %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="pl-3 pb-2">
                                                                                                {% include 'layouts/poa_progreso_cronograma.html' %}
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endwith %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% else %}
                                                                            <div class="link link-off">
                                                                                <div class="progress" style="width: 95%;">
                                                                                    {% with porciento_meta=meta_item|item:'porciento_meta' %}
                                                                                        <div class="progress-bar" role="progressbar" style="width: {{ porciento_meta|format_int }}%;" aria-valuenow="{{ porciento_meta|format_int }}" aria-valuemin="0" aria-valuemax="100">{{ porciento_meta }}%</div>
                                                                                    {% endwith %}
                                                                                </div>
                                                                                <div class="pt-2" style="width: 95%;">
                                                                                    {% with meta_index=meta_item|item:'meta_index' %}
                                                                                        <p>{{ meta_index }} {{ meta.meta_description }}</p>
                                                                                    {% endwith %}
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endwith %}
                                                              </li>
                                                          {% endwith %}
                                                      {% endfor %}
                                                  {% endwith %}
                                              </div>
                                          </div>
                                      {% endwith %}
                                  {% endwith %}
                              {% endfor %}
                          {% endfor %}
                      </ul>
                  {% else %}
                      <div><strong>ESTAMENTO: </strong> {{ poa.poa_estamento }}</div>
                  {% endif %}

                  {% include 'layouts/poa_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}